<%= turbo_stream.prepend "genres" do %>
  <tr id="<%= dom_id(@genre) %>" class="bg-white">
    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
      <a href="<%= genre_path(@genre) %>" class="text-blue-500 font-bold hover:underline"><%= @genre.name %></a>
    </td>
    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
      <%= @genre.description %>
    </td>
    <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
      <%= link_to "Delete", delete_genre_path(@genre), data: { turbo_frame: 'modal' }, class: "text-red-600 hover:underline" %>
    </td>
  </tr>
<% end %>
