<%= turbo_frame_tag "content" do %>
  <div class="p-5 h-screen w-full bg-gray-100">

    <div class="flex items-center justify-between mb-6">
      <h1 class="text-xl mb-2">Genres</h1>
      <%= link_to "Add Genre", new_genre_path, data: { turbo_frame: 'modal' }, class: "bg-primary-700 text-white rounded-lg px-5 py-2.5" %>
    </div>

    <div class="mb-6">
      <%= search_form_for @q, url: admin_dashboard_genres_path, method: :get, html: { class: 'flex items-center' } do |f| %>
        <div class="relative w-full">
          <%= f.search_field :name_cont, placeholder: "Search Genres", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full pl-10 p-2.5" %>
        </div>
        <%= f.submit 'Search', class: "bg-primary-700 text-white rounded-lg px-5 py-2.5 ml-2" %>
      <% end %>
    </div>

    <div class="overflow-auto rounded-lg shadow hidden md:block mb-6">
      <table class="w-full">
        <thead class="bg-gray-50 border-b-2 border-gray-200">
        <tr>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">
            <%= sort_link(@q, :name, 'Genre Name') %>
          </th>
          <th class="p-3 text-sm font-semibold tracking-wide text-left">
            Description
          </th>
          <th class="w-24 p-3 text-sm font-semibold tracking-wide text-left">Actions</th>
        </tr>
        </thead>
        <tbody id="genres" class="divide-y divide-gray-100">
        <% @genres.each do |genre| %>
          <tr id="<%= dom_id(genre) %>" class="bg-white">
            <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
              <p class="text-gray-700 font-bold"><%= genre.name %></p>
            </td>
            <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
              <%= genre.description %>
            </td>
            <td class="p-3 text-sm text-gray-700 whitespace-nowrap">
              <%= link_to "Delete", delete_genre_path(genre), data: { turbo_frame: 'modal' }, class: "text-red-600 hover:underline" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="flex justify-center mt-4">
      <div class="max-w-xs">
        <%= paginate @genres, outer_window: 3 %>
      </div>
    </div>
  </div>
<% end %>
